<div ><img class="image" src="../../../assets/img/bga.jpg" alt="" /></div>

<div class="container-portada">
  <div class=" portada-description">
    <h1 class="title">¿PORQUE IXTAPA ZIHUATANEJO?</h1>

    <div class="section">
      <p class="parrafo">
        Es un atractivo pueblo de pescadores que te ofrece un ambiente familiar
        y seguro, cuya principal atracción es su hermosa y protegida bahía, a
        unos cuantos kilómetros de la zona hotelera.
      </p>

      <p class="parrafo">
        Puedes disfrutar de las claras y pacíficas aguas de la bahía.
      </p>
      <p>
        Ixtapa es un lugar rodeado de una cadena montañosa que desciende para
        encontrarse con el mar y enmarca este maravilloso pueblo. Aquí
        disfrutarás de su tradicional atmósfera y pacífico ambiente que te
        ofrecen varias playas para relajarte, o bien encontrar actividades que
        van desde la pesca deportiva hasta la observación de aves para luego
        degustar un pescado que no puede ser más fresco.
      </p>
    </div>
  </div>

  <div class=" section">
    <h1 class="title">CONOCE TU PRÓXIMO DESTINO</h1>
  </div>

  <div class="section">
    <app-spot></app-spot>
  </div>
</div>
