.image{
    max-width: 100%;    
}

.parrafo{
    font-size: 18px;
    color: #333333;
    margin: 0 0 30px;
}

.section {
    padding-top: 4em;
    padding-left: 5%;
    padding-right: 5%;
}
.title{
    text-align: center;
}

