.example-card {
    max-width: 400px;
    margin-bottom: 2em;
    margin-left: 1em;
    height: auto;

  }
  .img-card{
      max-width: 400px;
  }
  .flex-me{
    display: inline-flex;
    flex-flow: row wrap;
  }