:host ::ng-deep.mat-paginator .mat-paginator-container{
  justify-content: center;
  
}

:host ::ng-deep.mat-progress-spinner .mat-progress-container{
  justify-content: center;
  
}
.example-margin {
  display: flex;
  justify-content: center;
}